:root {
  -size: 1400px;
  -size: 1200px;
  -size: 1024px;
  -size: 896px;
  -size: 768px;
  -size: 640px;
  -size: 512px;
  -size: 448px;
  -size: 384px;
}

@media (max-width: 896px) {
  * {
    font-size: 18px;
  }

  .header-name {
    font-size: 50px;
  }

  .name {
    align-self: center;
  }

  .email {
    font-size: 18px;
  }

  .button-cv img {
    height: 25px;
    width: 25px;
  }

  .main {
    margin: 40px;
    gap: 40px;
  }

  .section {
    padding: 30px !important;
  }
}

@media (max-width: 768px) {
  .main {
    margin: 30px;
    gap: 30px;
  }

  .section {
    padding: 25px !important;
  }

  .project {
    display: flex;
    flex-direction: column;

    & .project-title {
      order: 1 !important;
    }

    & .project-text {
      order: 2 !important;
    }
    
    & .project-image {
      width: 100% !important;
      margin: 10px 0 0 0 !important;
      float: none !important;
      display: block !important;
      order: 3 !important;
    }
  }

  .modal-content {
    width: 95%;
  }
}

@media (max-width: 640px) {
  :root {
    --container-padding: 20px;
  }

  .main {
    margin: 25px;
    gap: 25px;
  }

  .section {
    padding: 20px !important;
  }

  .container-intro {
    gap: 5px;
    display: flex;
    flex-direction: column;

    & .title-1 {
      order: 1;
      align-self: center;
    }

    .container-pic-info {
      width: 100%;
      margin: 0;
      order: 2;
      align-self: center;
      float: none;

      & .my-picture {
        height: 400px;
      }

      & .info {
        flex-direction: row;
        justify-content: left;
      }
    }

    & .text-intro {
      order: 3;
    }
  }
}

@media (max-width: 520px) {
  :root {
    --container-padding: 15px;
  }

  .main {
    margin: 20px;
  }

  .section {
    padding: 15px !important;
  }

  .container-pic-info {
    width: 100%;
  }

  .skill {

    & img {
      width: 48px !important;
    }
  }

  .section {
    padding: 15px !important;
  }
}

@media (max-width: 448px) {
  .main {
    margin: 15px;
  }
}

@media (max-width: 384px) {
}